.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
/* 第一區 */
.App_header {
  min-height: 100vh;
  width: 50%;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box_left {
  width: 50%;
}
.box_left img {
  margin-top: 2em;
}
.page_1_card {
  width: 17em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(14, 192, 77, 0.501) 0px 5px 15px;
}
.personalPhoto {
  width: 200px;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
  background-image: url("../../public/img/personPhtp.jpg");
  background-size: cover;
  background-position: center;
}

/* 第二區 */
.page_2_skill {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page_2_skill h1 {
  margin: 3em 0;
  text-align: center;
}
.skills {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills p {
  background: #62b620;
  border-radius: 8em;
  padding: 0.5em 1em;
  margin: 0 0.5em 1em 0.5em;
  color: #ffffff;
  font: 1.5em sans-serif;
  box-shadow: inset #9fe665 0.1em 0.2em 0em 0.05em,
    inset #77C830 -0.1em -0.1em 0em 0.02em;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
